* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    gap: 0px;
}

main {
    width: 100vw;
    margin-left: 20vw;
    margin-bottom: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:root {
    --primary: #292738;
    --secondary: #363447;
    --yellow-color: #E1C200;
    --green-color: #38A37F;
}